extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner
      a(href="/") JOHN PETERSON
      div.NavButtons
        a(href="/high-ping")
          div.NavButton Highest Ping
        a(href="/low-ping")
          div.NavButton Lowest Ping
        div.NavButton= func.get_database()

    div.Message
      table.DataTable
        tr
            th id
            th time est
            th time mdt
            th time pst
            th ping


        each val, index in data
            tr
                td= val.rowid 
                td= val.est
                td= val.mdt
                td= val.pst
                td= val.ping_value
    div.NavButtons
        