extends layout


block layout-content
  div.View.WelcomeView
    h1.Banner
      a(href="/") JOHN PETERSON
      div.NavButtons
        a(href="/high-ping")
          div.NavButton Highest Ping
        a(href="/low-ping")
          div.NavButton Lowest Ping

    div.Message
      div.View

        canvas(id="myChart" width="400" height="200")

        h3.Banner IP: #{data[0].ip}}
        input.Banner(type="text" id="myInput" onkeyup="search()" placeholder="Search Database...")


      table.DataTable.Sortable-table
        tr
            th(onClick="sortTable(0)") id
            th.RemoveOnMobile time est
            th.RemoveOnMobile time mdt
            th.RemoveOnMobile time pst
            th(onClick="void(0)") ping


        each val, index in data
            if val.ping_value > 400
              tr.Red.Hover
                  td= val._id 
                  td.RemoveOnMobile= val.est
                  td.RemoveOnMobile= val.mdt
                  td.RemoveOnMobile= val.pst
                  td.search= val.ping_value
            else if val.ping_value > 60
              tr.Yellow.Hover
                  td= val._id 
                  td.RemoveOnMobile= val.est
                  td.RemoveOnMobile= val.mdt
                  td.RemoveOnMobile= val.pst
                  td.search= val.ping_value
            else if val.ping_value < 43
              tr.Green.Hover
                  td= val._id 
                  td.RemoveOnMobile= val.est
                  td.RemoveOnMobile= val.mdt
                  td.RemoveOnMobile= val.pst
                  td.search= val.ping_value
            else 
              tr.Hover
                  td= val._id 
                  td.RemoveOnMobile= val.est
                  td.RemoveOnMobile= val.mdt
                  td.RemoveOnMobile= val.pst
                  td.search= val.ping_value

    div.NavButtons
  
  script.
    
    var data = !{JSON.stringify(ping_value)}

    var time = []
    var ping = []
    var date = []
    var dateDif = []

    for(var j = 0; j < !{data.length}; j++) {
      str = data[j]
      var dataArray = str.split(",")
      
      num = Number(dataArray[0])

      ping.push(num)
      time.push(dataArray[1])
      date.push(dataArray[2])
    }

    for(var j = 0; j < date.length; j++) {
      if(date[j] == date[j - 1]) {

      } else {
        dateDif.push(j)
      }
    }

    var ping_yesterday = ping.slice(dateDif[dateDif.length - 3], dateDif[dateDif.length - 2])
    var time_yesterday = time.slice(dateDif[dateDif.length - 3], dateDif[dateDif.length - 2])
    
    var ping_today = ping.slice(dateDif[dateDif.length - 2], dateDif[dateDif.length - 1])
    var time_today = time.slice(dateDif[dateDif.length - 2], dateDif[dateDif.length - 1])

    var chart = document.getElementById('myChart').getContext('2d');
    var lineChart = new Chart(chart, {
         type: 'line',
          data: {
            labels: time_today,
            datasets: [
              { 
                data: ping_today,
                label: "Last 24 Hours",
                borderColor: "#3e95cd",
                fill: false
              },
              { 
                data: ping_yesterday,
                label: "Previous 24 Hours",
                borderColor: "#8e5ea2",
                fill: false
              },
            ],
        options: {
          title: {
            display: true,
            text: 'Ping'
          }
        }
      }
    });