extends layout

block layout-content
    div.View.UserView
        h1.Banner #{title}
            div.NavButtons
                a(href="/ping")
                    div.NavButton Ping Project
                a(href="/low-ping")
                    div.NavButton Low Ping
        div.Message
            div.Title
                h3 Making us the best
                h1 Teammate profile
            pre.Details=JSON.stringify(userProfile, null, 2)
        div.Message
            table.DataTable
                tr
                    th id
                    th time est
                    th time mdt
                    th time pst
                    th ping


                each val, index in userProfile.data
                    tr
                        td= val._id 
                        td= val.est
                        td= val.mdt
                        td= val.pst
                        td= val.ping_value

        div.NavButtons
            a(href="/high-ping")
                div.NavButton Refresh