extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner
      a(href="/") JOHN PETERSON
      div.NavButtons
        a(href="/high-ping")
          div.NavButton Highest Ping
        a(href="/low-ping")
          div.NavButton Lowest Ping
    div.Message
      div.View
        h3.Banner IP: #{data[0].ip}

      table.DataTable
        tr
            th id
            th time est
            th time mdt
            th time pst
            th ping


        each val, index in data
            if val.ping_value > 400
              tr.Red
                  td= val._id 
                  td= val.est
                  td= val.mdt
                  td= val.pst
                  td= val.ping_value
            else if val.ping_value > 150
              tr.Yellow
                  td= val._id 
                  td= val.est
                  td= val.mdt
                  td= val.pst
                  td= val.ping_value
            else 
              tr
                  td= val._id 
                  td= val.est
                  td= val.mdt
                  td= val.pst
                  td= val.ping_value
    div.NavButtons
        